name: Generate and deploy site
on:
  # Documentation can be either manually updated or is automatically updated
  # when pushed to main branch
  workflow_dispatch:
  push:
    branches:
      - main

# Make sure deploy-pages has necessary permissions to deploy to GitHub Pages
permissions:
  pages: write
  id-token: write

# Cancel older deploy workflow when more than one is running
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    name: Build and deploy documentation site
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }} # Output URL after the workflow has finished
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - run: bun run build
      - name: Upload Artifact
        id: upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./build/
      - name: Deploy
        id: deploy
        uses: actions/deploy-pages@v4
